.dropdownMenu{
    position: fixed;
    top: 50px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
}

.dropdownMenu button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
}

.dropdownMenu button:hover{
    background-color: #a1a1a1;
}